# Editor files
*.*~

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
finalProject_cache/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# data files
*.csv